/*You always need to add the -fx thing otherwise it doesnt work for some reason*/
*{
    -fx-clr--orange: #FF7F11 ;
    -fx-clr--red: #FF1B1C;
    -fx-clr--gray: #C4C4C4;
    -fx-clr--gray-light: #FFFFFC;
    -fx-clr--green: #5CB85C;
    -fx-clr--orange-light: #F0AD4E;
    -fx-clr--red-light: #D9534F;
}

.button{
    -fx-background-color: -fx-clr--orange ;
    -fx-text-fill: #fff;
    -fx-border-radius: 3px;
}
.button:hover {
    -fx-cursor:hand;
}

.label{
    -fx-font-weight: 700;
    -fx-text-alignment: center;
}
.combo-box:hover{
    -fx-cursor:hand;
}

.card-title{
    -fx-fill: -fx-clr--orange-light;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #fff;
    -fx-border-radius: 5px;
}

.table-view .table-column{
    -fx-text-alignment: CENTER-RIGHT;
}

.background{
    -fx-background: -fx-clr--gray-light;
}

.btn_menu{
    -fx-background-color: -fx-clr-gray-light;
    -fx-border-color: -fx-clr--gray;
    -fx-text-fill: -fx-clr--orange;
    -fx-border-radius: 3px;
    -fx-font-weight: 700;
}

#run_apriori_btn, #run_eclat_btn{
-fx-background-color: -fx-clr--green;
}




#btn_upload {
   -fx-background-color: -fx-clr--orange;
}
#btn_reset, #btn_reset1{
    -fx-background-color: -fx-clr--red;
}
#btn_add{
    -fx-background-color: -fx-clr--green;
}
#btn_edit{
    -fx-background-color: -fx-clr--orange-light;
}
#btn_delete{
    -fx-background-color: -fx-clr--red-light;
}
#btn_submit{
    -fx-background-color: -fx-clr--green;
}

#btn_home{
    -fx-background-color: -fx-clr-gray-light;
    -fx-border-color: -fx-clr--gray;
    -fx-text-fill: -fx-clr--orange;
    -fx-border-radius: 3px;
    -fx-font-weight: 700;
}

#btn_dashboard{
    -fx-background-color: -fx-clr-gray-light;
    -fx-border-color: -fx-clr--gray;
    -fx-text-fill: -fx-clr--orange;
    -fx-border-radius: 3px;
    -fx-font-weight: 700;
}
#btn_pretraitement{
    -fx-background-color: -fx-clr-gray-light;
    -fx-border-color: -fx-clr--gray;
    -fx-text-fill: -fx-clr--orange;
    -fx-border-radius: 3px;
    -fx-font-weight: 700;
}
#btn_algos{
    -fx-background-color: -fx-clr-gray-light;
    -fx-border-color: -fx-clr--gray;
    -fx-text-fill: -fx-clr--orange;
    -fx-border-radius: 3px;
    -fx-font-weight: 700;
}
